<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
        <!--
        로깅을 사용하려면 fileName 속성의 값을 입력하셔야 합니다.
        e.g. D:/Logs/ShutdownRemotePc_${date:format=yyyy-MM-dd}.log
        파일명에 해당하는 'ShutdownRemotePc_${date:format=yyyy-MM-dd}.log'는 변경하지 않도록 합니다.
        변경하려면 http://nlog-project.org/ 의 문서를 확인하시기 바랍니다.
        -->
        <target
            xsi:type="File"
            name="file"
            encoding="utf-8"
            fileName="${specialfolder:folder=ApplicationData}/bbon.kr/LottoMk2/${date:format=yyyy-MM-dd}.log"
            keepFileOpen="false"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${level} ${message}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
</nlog>